/*
//////////////////////////////////////////////////////////////////////
THE TAB SYSTEM
/////////////////////////////////////////////////////////////////////
*/
main {
  padding: 0px;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

.tab {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: var(--text-med);
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label[for*='1']:before {
  content: '\f0f5';
}

label[for*='2']:before {
  content: '\f07a';
}

label[for*='3']:before {
  content: '\f071';
}

label[for*='4']:before {
  content: '\f291';
}

label:hover {
  color: var(--text-light);
  cursor: pointer;
}

input:checked+label {
  color: var(--text-light);
  border: 2px solid var(--text-light);
  border-top: 2px solid --text-light;
  border-bottom: 0px;
  /* border-top: 2px solid blue;
    border-bottom: 1px solid #fff; */
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.loading-container-recipe {
  margin: auto;
  /* border: 1px solid red; */
  width: fit-content;
  margin-top: 100px;
  padding: 10px;
}

.loader-recipe {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid var(--text-med); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}